img {
    width: 8rem;
}

.singlecart {
    padding: 15px;
    border: 1px solid black;
    border-radius: 6px;
    margin-bottom: 15px;
    
}

.singlecart img {
    margin-left: 50px;
}

.subcart {
    overflow: scroll;
}

button {
    width: 90%;
    background-color: rgb(214, 58, 37);
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
}

.cartproduct {
    display: flex;
    flex-flow: column;
    height: fit-content;
   
}

.cart {
    /* display: flex; */
    /* flex-flow: column; */
    /* height: 100vh; */
    
}

p {
    font-size: 26px;
    font-weight: 600;
    color: rgb(37, 75, 77);
}

.checkout{
    font-size: 20px;
    background-color: rgb(37,75,77);
    margin-bottom: 30px;
    margin-top: 10px;
}